Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba:      rgb
! Start flavours
! Base16 Nord
! Scheme: arcticicestudio

#define base00 #2E3440
#define base01 #3B4252
#define base02 #434C5E
#define base03 #4C566A
#define base04 #D8DEE9
#define base05 #E5E9F0
#define base06 #ECEFF4
#define base07 #8FBCBB
#define base08 #BF616A
#define base09 #D08770
#define base0A #EBCB8B
#define base0B #A3BE8C
#define base0C #88C0D0
#define base0D #81A1C1
#define base0E #B48EAD
#define base0F #5E81AC

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07
! End flavours
