
*.background: #0f111a
*.foreground: #a6accd
*.cursor:     #c0c5ce
! selection_background #243340
! black
*.color0: #3b4252
*.color8: #464b5d
! red
*.color1: #f78c6c
*.color9: #f79f87
! green
*.color2: #c3e88d
*.color10: #def2c0
! yellow
*.color3: #f9dd6c
*.color11: #fceeb6
! blue
! color4 #36a3d9
*.color4: #2979ff
*.color12: #ccdcff
! magenta
*.color5: #c792ea
*.color13: #e9d4f7
! cyan
*.color6: #89ddff
*.color14: #ccf1ff
! white
*.color7: #a6accf
*.color15: #dee1ed
*.selection_foreground: #c0c5ce


!! URxvt Appearance
*.font: xft:Fira Code Retina:style=Regular:size=14,xft:FontAwesome:size=14
!*.font: xft:ttf-linux-libertine:style=Regular:size=14
*.boldFont: xft:Roboto Mono for Powerline:style=Bold:size=14
*.italicFont: xft:Roboto Mono for Powerline:style=Italic:size=14
*.boldItalicFont: xft:Roboto Mono for Powerline:style=Bold Italic:size=14
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false
