:root {
    /* Start flavours */
	--primary: #b57614;
	--bg: #fbf1c7;
	--bg-alt: #ebdbb2;
	--fg: #504945;
    /* End flavours */
}

* {
    font-family: "Iosevka Nerd Font", monospace;
}
body {
    text-align: center;
    width: 100%;
    margin: 0;
    background-color: var(--bg);
    box-sizing: border-box;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
}
h1 {
    margin-top: 300px;
    color: var(--primary);
}

h1 img {
    width: 100px;
}

h2 {
    color: var(--primary);
    font-size: 35px;
    position: relative;
    top: 150px;
}
a {
    line-height: 1.9;
}
p {
    color: var(--primary);
    font-size: 35px;
}
a:visited,
a:link,
a:active {
    color: var(--fg);
    text-decoration: none;
    font-size: 26px;
    text-indent: 2px;
}
a:hover {
    color: var(--primary);
}
.entertainment,
.social,
.dev {
    display: inline-block;
    background-color: var(--bg);
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 30px;
    padding-bottom: 70px;
    padding-left: 70px;
    padding-right: 70px;
    border: 2px solid var(--bg);
    transition: border-radius 0.3s, background-color 0.3s;
}
.entertainment:hover,
.social:hover,
.dev:hover {
    border: 2px solid var(--bg-alt);
    /* box-shadow: 0px 0px 8px 8px var(--bg-alt); */
    background-color: var(--bg-alt);
    border-radius: 10px;
}
input {
    color: var(--primary);
    background-color: var(--bg-alt);
    width: 700px;
    text-align: center;
    height: 50px;
    font-size: 14px;
    border: none;
    outline: none;
}
input:focus::placeholder {
    color: transparent;
    text-align: center;
}
button {
    background-color: var(--bg-alt);
    color: #ff0000;
}
button:hover {
    background-color: var(--bg-alt);
    color: var(--bg);
}
.go {
    width: 50px;
    height: 50px;
    color: var(--primary);
    border: none;
    transition: background-color 0.3s, border-radius 0.3s;
}
.go:hover {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.se_btn {
    width: 50px;
    height: 50px;
    color: #00ff00;
    border: none;
    vertical-align: middle;
    transition: background-color 0.3s, border-radius 0.3s;
}
.se_btn:hover {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#se_icon {
    width: 24px;
    height: 24px;
}
.filter-white {
    filter: invert(1);
}
