	/*     fg         bg       */
	[SchemeNorm] = { "#{{base05-hex}}", "#{{base00-hex}}" },
    [SchemeSel] = { "#{{base0A-hex}}", "#{{base01-hex}}" },
	[SchemeSelHighlight] = { "#{{base05-hex}}", "#{{base01-hex}}" },
	[SchemeNormHighlight] = { "#{{base0A-hex}}", "#{{base00-hex}}" },
	[SchemeOut] = { "#000000", "#00ffff" },
