separator_color = "#{{base0A-hex}}"

[base16_low]
    msg_urgency = low
    background = "#{{base00-hex}}"
    foreground = "#{{base0A-hex}}"
	frame_color = "#{{base0A-hex}}"

[base16_normal]
    msg_urgency = normal
    background = "#{{base00-hex}}"
    foreground = "#{{base09-hex}}"
	frame_color = "#{{base09-hex}}"

[base16_critical]
    msg_urgency = critical
    background = "#{{base01-hex}}"
    foreground = "#{{base08-hex}}"
	frame_color = "#{{base08-hex}}"
