static const char* normbgcolor  = "#{{base00-hex}}";
static const char* normfgcolor  = "#{{base05-hex}}";
static const char* selbgcolor   = "#{{base0A-hex}}";
static const char* selfgcolor   = "#{{base01-hex}}";
static const char* urgbgcolor   = "#ff0000";
static const char* urgfgcolor   = "#0000ff";
